@import './colours.css';
.alert {
    padding: 20px;
    border-radius: 5px;
    color: white;
}

.success {
    background-color: var(--success);
}
.error {
    background-color: var(--error);
}
.info {
    background-color: var(--info);
}
.help {
    background-color: var(--help);
}
.warning {
    background-color: var(--warning);
}

.closebtn {
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}